@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@400;

700&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  color: #58402c;
  background-color: #FFF;
  max-width: 90%;
  margin: auto;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  width: calc((100%/8)*8);
  margin: auto;
  padding: 20px 0px;
  border-bottom: 1px solid #CCC;
  font-size: 14px;
}

.navmenu__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.navmenu__list__element {
  padding: 10px;
}

.navmenu__list__element__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #30488f;
  border-radius: 5px;
  padding: 5px;
}

.navmenu__list__element__button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.navmenu__list__element__button span {
  color: #30488f;
}

.navmenu__list__element__button:hover {
  background-color: #30488f;
}

.navmenu__list__element__button:hover span {
  color: #FFF;
}

@media all and (max-width: 1140px) {
  .jumbotron {
    display: block;
    text-align: center;
  }

  .jumbotron__caption {
    width: calc((100%/8)*8);
  }

  .jumbotron__hero {
    width: calc((100%/8)*8);
  }
}

@media all and (min-width: 1141px) {
  .jumbotron {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .jumbotron__caption {
    width: calc((100%/8)*4);
  }

  .jumbotron__hero {
    width: calc((100%/8)*4);
  }
}

.jumbotron {
  background-color: #FFF;
  margin: auto;
  padding: 50px 0;
}

.jumbotron__caption h2 {
  font-size: 48px;
  line-height: 1.5;
  padding: 20px 0;
}

.jumbotron__caption p {
  font-size: 24px;
  line-height: 1.5;
  padding: 20px 0;
}

.jumbotron__caption__button-area {
  display: flex;
  -moz-text-align-last: left;
       text-align-last: left;
  line-height: 1.5;
  margin: 20px 0;
}

.jumbotron__caption__button-area__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #30488f;
  border-radius: 5px;
  padding: 5px;
}

.jumbotron__caption__button-area__button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.jumbotron__caption__button-area__button {
  background-color: #30488f;
}

.jumbotron__caption__button-area__button span {
  color: #FFF;
}

.jumbotron__caption__button-area__button:hover {
  background-color: #FFF;
}

.jumbotron__caption__button-area__button:hover span {
  color: #30488f;
}

.jumbotron__caption__button-area span {
  padding: 0 20px;
  align-self: center;
}

.jumbotron__hero {
  text-align: right;
  align-self: flex-start;
}

.jumbotron__hero img {
  width: 100%;
}

@media all and (max-width: 1140px) {
  .jumbotron {
    display: block;
    text-align: center;
  }

  .jumbotron__caption {
    width: calc((100%/8)*8);
  }

  .jumbotron__hero {
    width: calc((100%/8)*8);
  }
}

@media all and (min-width: 1141px) {
  .jumbotron {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .jumbotron__caption {
    width: calc((100%/8)*4);
  }

  .jumbotron__hero {
    width: calc((100%/8)*4);
  }
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe7d2;
}

.widget h1 {
  text-align: center;
}

.widget__cards-area {
  padding: 100px 50px;
  width: calc((100%/8)*8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.widget__cards-area__card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: calc((100%/8)*2);
}

.widget__cards-area__card img {
  width: 150px;
  height: 120px;
}

.widget__image {
  width: 300px;
  margin-bottom: 20px;
}

.widget__separator {
  width: calc((100%/8)*7);
  border-bottom: 1px solid #CCC;
  margin: 50px 0;
}


