* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $brand-font;
    color: $brand-dark;
    background-color: $white;
    max-width: 90%;
    margin: auto;
}

@mixin jumbotron-text($fontsize) {
    font-size: $fontsize;
    line-height: 1.5;
    padding: 20px 0;
}

//  Buttons w/ modifiers
@mixin custom-button {
    &__button{
        @include flex-horizontal-sb;
        border: 1px solid $blue;
        border-radius: 5px;
        padding: 5px;
        img{
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }
    }
}

@mixin --button-white {
    &__button{
        span{
            color: $blue;
        }
    }
    &__button:hover{
        background-color: $blue;
        span{
            color: $white;
        }
    }
}

@mixin --button-blue {
    &__button{
        background-color: $blue;
        span{
            color: $white;
        }
    }
    &__button:hover{
        background-color: $white;
        span{
            color: $blue;
        }
    }
}