.jumbotron{
    @include flex-horizontal-sa;
    background-color: $white;
    width: 70%;
    margin: auto;
    padding: 50px 0;
    font-size: $small;
    &__caption{
        width: 40%;
        h2 {
            font-size: $x-large;
        }
        p {
            font-size: $medium;
        }
        &__button-area{
            display: flex;
            @include custom-button;
            @include --button-blue;
        }
    }
    &__hero{
        img{
            max-width: 500px;
        }
    }
}