.jumbotron{
    background-color: $white;
    margin: auto;
    width: $col-6;
    padding: 50px 0;
    &__caption{
        h2 {
            @include jumbotron-text($xlarge);
        }
        p {
            @include jumbotron-text($medium);
        }
        &__button-area{
            display: flex;
            text-align-last: center;
            @include custom-button;
            @include --button-blue;
            line-height: 1.5;
            margin: 20px 0;
            span {
                padding: 0 20px;
                align-self: center;
            }
        }
    }
    &__hero{
        text-align: right;
        align-self: flex-start;
        img{
            width: 100%;
        }
    }
}

@media all and (max-width: 1140px){
    .jumbotron{
        display: block;
        text-align: center;
        &__caption{
            width: $col-8;
        }
        &__hero{
            width: $col-8 ;
        }
    }
}

@media all and (min-width: 1141px){
    .jumbotron{
        @include flex-horizontal-sa;
        &__caption{
            width: $col-4;
        }
        &__hero{
            width: $col-4 ;
        }
    }
}