.navmenu{
    @include flex-horizontal-sb;
    background-color: $white;
    width: 70%;
    margin: auto;
    padding: 20px 0px;
    border-bottom: 1px solid $light-gray;
    font-size: $small;
    &__list{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        &__element{
            padding: 10px;
            @include custom-button;
            @include --button-white;
        }
    }

}