.navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    width: 70%;
    margin: auto;
    padding: 20px;
    border-bottom: 1px solid #CCC;
    font-size: $small;
    &__list{
        list-style: none;
        display: flex;
        justify-content: flex-end;
        &__element{
            padding: 10px;
            &__sign-up{
                border: 1px solid $blue;
                border-radius: 5px;
                align-self: center;
                padding: 5px;
                img{
                    width: 20px;
                    height: 20px;
                    vertical-align: middle;
                }
                span{
                    color: $blue;
                }
            }
        }
    }

}