//  Colors
$brand-dark: #58402c;
$brand-light: #ffe7d2;
$blue: #30488f;
$white: #FFF;
$light-gray: #CCC;

//  Font sizes
$small: 14px;
$medium: 24px;
$xlarge: 48px;

//  Font family
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
$brand-font: 'Rubik', sans-serif;

//  Positioning
@mixin flex-horizontal-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-horizontal-sa {
    display: flex;
    justify-content: space-around;
    align-items: center;
}