.widget-card{
    display: block;
    background-color: $brand-light;
    text-align: center;
    h1 {
        text-align: center;
    }
    &__cards-area{
        padding: 50px;
        width: $col-8;
        &__card{
            margin: 100px 0;
            width: $col-8;
            img{
                width: 150px;
                height: 120px;
            }
        }
    }
    &__image {
        width: 300px;
        margin-bottom: 20px;
    }
    &__separator{
        width: $col-7;
        border-bottom: 1px solid $light-gray;
        margin: 50px 0;
    }
}

@media all and (min-width: 768px){
    .widget-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__cards-area{
            padding: 100px 50px;
            @include flex-horizontal-sa;
            text-align: center;
            &__card{
                @include flex-horizontal-sa;
                flex-direction: column;
                width: $col-2;
            }
        }
    }
}